@import "../../../Sass/Vars.scss";

.delete__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: $bg;
    border-radius: 4px;
    cursor: pointer;
    transition: $speed ease;
    &:hover {
        filter: brightness(1.4);
    }
    p {
        width: 100%;
        padding: 0 8px;
    }
}
